<%= form_for(meeting) do |f| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date_options %>
    <%= f.text_field :date_options %>
  </div>

  <div class="field">
    <%= f.label :location_options %>
    <%= f.text_field :location_options %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
