<p id="notice"><%= notice %></p>

<h1>Meetings</h1>


<%= simple_form_for @meeting do |f| %>
  <div class="meeting_option">
    <%= f.input :date_options, as: :array, placeholder: "date_options" %>
  </div>
  <div class="meeting_option">
    <%= f.input :location_options, as: :array, placeholder: "location_options" %>
  </div>
  <div class="submit-btn">
    <%= f.submit "Envoyez-nous vos disponibilités !", class: "btn" %>
  </div>
<% end %>

<br>

<%= link_to 'New Meeting', new_meeting_path %>
