<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Date options:</strong>
  <%= @meeting.date_options %>
</p>

<p>
  <strong>Location options:</strong>
  <%= @meeting.location_options %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
