<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div class="search-bar is-desktop">
  <form id="search_form">
      <%= form_tag search_courses_path, method: :get, class: "custom-input" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search By Keyword" %>
      <% end %>
      <%= submit_tag "Search", name: nil, form: "search_form", class: "search-btn" %>
   </form>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

I did this way using a form_tag and a text_field_tag, in addition the check for `params[:search]` in the controller. 
