<p>bla</p>

<a href="#" id="click">click me</a>

<script>
  var pos = { lat: 43.12312, lng: 13.123123 };
  // $('#click').click(function(e) {
    // e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '/retrieve-location/',
      data: {coordinates: { lat: pos.lat, lng: pos.lng}},
      dataType: "script",
      success: function(data,status,xhr){
        console.log('There you go: ' + data);
        console.log('Success');
        $(document).append('There you go: ' + data);
      },
      error: function(xhr,status,error){
        console.log(xhr);
        console.log('Somethings gone wrong');
      }
    });
  // })
</script>